*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Roboto
  font-size: 14px

html, body, #root
  height: 100%

a
  text-decoration: none
  color: $color-primary

  &:hover
    text-decoration: underline

.b-primary
  color: white
  background-color: $color-primary

.b-danger
  color: white
  background-color: $color-danger

.b-disabled
  opacity: 0.7
  pointer-events: none
