.b-btn
  border: none
  outline: none
  background-color: transparent

  display: flex !important
  align-items: center
  justify-content: center
  cursor: pointer
  user-select: none

  padding: 0px 10px
  border-radius: 3px
  height: 38px
  font-size: 16px
  transition: all ease 200ms

  &:hover
    text-decoration: none
    opacity: 0.7

.b-btn-icon
  padding: 0 !important